/* 左侧固定栏 */
.fix_left{
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100%;
    overflow: hidden;
    z-index: 10;
}
.left_bar{
    width: 118px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #1d2531;
    height: 100%;
}
.left_bar ul{
    padding-top: 20px;
}
.left_bar ul li{
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.left_bar ul li img{
    display: block;
    width: 100%;
}
.left_icon{
    position: absolute;
    bottom: 10px;
    left: 26px;
}
.left_icon img:first-child{
    margin-right: 16px;
}
/* 导航框 */
.nav{
    position: absolute;
    left: 100px;
    top: 0;
    height: 100%;
    width: 250px;
    overflow: hidden;
    z-index: 10;
}
.nav_bar{
    width: 268px;
    height: 100%;
    background: #222c3c;
    overflow-x: hidden;
    overflow-y: scroll;
}
.menu{
    width: 190px;
    margin: 0 auto;
    border-bottom: 1px solid #2a3547;
}
.nav .dash{
    border-bottom: none;
}
.nav_title{
    padding: 26px 0 14px 0;
}
.nav_title h3{
    color: #5b6779;
    font-size: 12px;
    float: left;
    line-height: 16px;
}
.nav_title a{
    display: inline-block;
    width: 16px;
    height: 16px;
    float: right;
}
.nav_list li a{
    display: block;
    color: #b7c0cd;
    margin-bottom: 16px;
}
.nav_list li a:hover{
    color: #fff;
}
.nav_pro li a{
    padding-left: 28px;
}
.nav_pro li:first-child a{
    background: url(../images/books_bg.png) no-repeat left center;
}
.nav_pro li:nth-child(2) a{
    background: url(../images/tutorails.png) no-repeat left center;
}
.nav_pro li:nth-child(3) a{
    background: url(../images/stocks.png) no-repeat left center;
}
.nav_pro li:last-child a{
    background: url(../images/chart.png) no-repeat left center;
}
.nav_list li:last-child a{
    margin-bottom: 25px;
}
.nav_list .sales a{
    background: url(../images/sales_bg.png) no-repeat right center;
}
.nav_list .message a{
    background: url(../images/message_bg.png) no-repeat right center;
    color: #fff;
}
.nav_list .inte a{
    background: url(../images/inte.png) no-repeat right center;
}
.month{
    position: absolute;
    bottom: 10px;
    width: 190px;
    background: url(../images/month_bg.png) no-repeat left bottom;
    height: 46px;
    left: 30px;
}
.month span{
    color: #fff;
    line-height: 46px;
}
.nav .month span:first-child{
    margin-right: 16px;
}
/* 右侧内容 */
.left_content{
    position: absolute;
    top: 0;
    left: 350px;
    width: 399px;
    height: 100%;
    z-index: 10;
}
.cont_top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 79px;
    border-bottom: 1px solid #e6e9ec;
    line-height: 79px;
    color: #354052;
    font-size: 24px;
    background: #fff;
    border-left: 1px solid #fff;
}
.cont_top h1{
    margin-left: 30px;
}
.search{
    position: absolute;
    top: 80px;
    left: 0;
    height: 36px;
    width: 340px;
    border-bottom: 1px solid #e6e9ec;
    border-right: 1px solid #e6e9ec;
    background: #fff url(../images/search.png) no-repeat center;
    padding: 15px 30px 18px 29px;
}
.search .text01{
    width: 280px;
    height: 34px;
    padding: 0px 14px;
    border: none;
    background: none;
    color: #9fa9ba;
    line-height: 34px;
}
.search .anniu{
    width: 29px;
    height: 34px;
    background: none;
    border: none;
    cursor: pointer;
}
.left_people{
    height: 100%;
    width: 400px;
    overflow: hidden;
}
.people_info{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 418px;
}
.info_list{
    border-bottom: 1px solid #e6e9ec;
    border-right: 1px solid #e6e9ec;
    padding-left: 30px;
    padding-right: 20px;
    width: 349px;
}
.info_list:first-child{
    border-left: 3px solid #2399f1;
    padding-left: 27px;
    margin-top: 150px;
}
.info_list .people{
    padding-top: 15px;
}
.people .people_name{
    float: left;
    margin-left: 20px;
}
.people img{
    float: left;
}
.people .people_name p{
    color: #585d68;
    font-size: 16px;
}
.info_list:first-child .people .people_name p{
    color: #2399f1;
    background: url(../images/name_hover.png) no-repeat left center;
    padding-left: 15px;
}
.info_list:first-child .people_about{
    background: url(../images/people_num.png) no-repeat right center;
    padding-right: 20px;
}
.people .people_name span{
    color: #b5b5b5;
}
.people .m{
    float: right;
    color: #7f8fa4;
}
.people_about{
    display: inline-block;
    margin-top: 8px;
    color: #585d68;
}
.right_cont{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5;
}
.right_top{
    position: absolute;
    top: 0;
    right: 0;
    height: 79px;
    width: 700px;
    border-bottom: 1px solid #e6e9ec;
    z-index: 5;
}
.right_top .user{
    position: absolute;
    top: 14px;
    right: 30px;
    background: url(../images/men_icon.png) no-repeat right center;
}
.user .men_info{
    float: right;
    padding: 0 40px 0 18px;
    color: #b5b5b5;
}
.user .men_info p{
    color: #2399f1;
    font-size: 16px;
}
.right_main{
    display: flex;
    flex-direction: column;
    height: 100%;
} 
.mian_top{
    display: flex;
    height: 69px;
    border-bottom: 1px solid #e6e9ec;
    margin-top: 80px;
    padding: 0 20px 0 776px;
    justify-content: space-between;
    background: #fff;
}
.mian_top .right_title{
    width: 118px;
}
.mian_top .right_title h3{
    color: #585d68;
    font-size: 18px;
    line-height: 69px;
    background: url(../images/proper_title.png) no-repeat right center;
}
.mian_top .icon{
    display: flex;
    align-items: center;
}
.mian_top .icon img:first-child{
    margin-right: 28px;
}
.mian_top .icon span{
    margin-right: 14px;
}
.main_cont{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 750px;
    overflow: hidden;
}
.text_flow{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 115%;
    overflow-x: hidden;
    overflow-y: auto;
}
.main_one{
    display: flex;
    margin-bottom: 18px;
    padding: 0 25px;
}
.main_one:first-child{
    margin-top: 15px;
}
.main_one .main_pic{
    padding-right: 16px;
}
.main_one .main_txt{
    color: #585d68;
    width: 80%;
}
.main_one .main_txt span{
    color: #7f8fa4;
}
.hr{
    display: flex;
    justify-content: left;
    height: 13px;
    margin-bottom: 32px;
    line-height: 13px;
}
.hr i{
    float: left;
    height: 1px;
    width: 300px;
    margin-top: 5px;
    background: #9fa9b9;
}
.hr .tu{
    float: left;
    color: #7f8fa4;
    white-space: nowrap;
    margin: 0 15px;
}
.main_one .main_txt .pic{
    margin-top: 14px;
}
.main_one .main_txt .pic img{
    margin-right: 10px;
}
.hr_message i{
    background: #a7d6f9;
}
.hr_message .tu_message{
    color: #2399f1;
}
.proper_foot{
    display: flex;
    height: 54px;
    margin: 0 31px 21px 29px;
    background: #fff;
}
.proper_foot .proper_add{
    width: 59px;
    height: 54px;
    background: url(../images/proper_add.png) no-repeat center;
}
.foot_txt{
    border: 1px solid #dfe3e9;
    border-left: none;
    height: 52px;
    line-height: 52px;
    color: #585d68;
    padding: 0 20px;
    width: 100%;
}